################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CubeIntersectionLJM/bin/Debug/netstandard2.0
/CubeIntersectionLJM/.vs/CubeIntersectionLJM
/CubeIntersectionLJM/obj
/CubeIntersectionLJMTests/bin/Debug/netcoreapp3.1
/CubeIntersectionLJMTests/obj
